body {
  margin: 0;
  padding: 0;
  background-color: rgb(173, 241, 241);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
}

i {
  font-size: 23px;
  border-radius: 50%;
  border: 3px solid grey;
  padding: 15px;
}

img {
  width: 130px;
  height: 230px;
  left: 80px;
}
